<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}">
    <title>Referral Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='ref.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='lobbybg/' + background_image) }}');">
    <header>
        <div class="header-container">
            <div class="logo-container">
                <a href="/lobby">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Casino Logo">
                </a>
            </div>
            <nav class="balance-container">
                <p>Balance:</p>
                <span>${{ '{:,.0f}'.format(balance) }}</span>
                <button class="logout-btn" onclick="logout()">Logout</button>
            </nav>
        </div>
    </header>

    <h1>Referral Summary</h1>
    <form action="/referalcollectsubmit" method="POST">
        <label for="referralCode">Referral Code:</label>
        <input type="text" id="referralCode" name="referralCode">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
